body {
	height: 100vh;
}

h1 {
	text-align: center;
	font-style: italic;
	font-weight: bolder;
	font-size: 3em;
	padding: 0px;
	border-bottom: 0px;
	margin-bottom: 0;
	margin-top: 0;
}

#container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 45%;
	justify-content: center;
	margin: auto;
	outline: auto;
	padding: 5vmin;
	border: solid 20px;
	background-color: paleturquoise;
	box-sizing: content-box;
	border-color: turquoise;
}

#container > .gridCell {
	/* outline: auto; */
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	background-color: white;
}

button {
	text-align: center;
	margin-left: 23.5%;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
